*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: lato;
}
button{
  background: transparent;
  padding: 0;
  border: none;
}
li, a, ul {
  text-decoration: none;
  list-style: none;
}
header, main, footer{
  width: 100%;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.navbar__bg{
  background-color: #222;
  height: 75px;
  display: flex;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_btn{
  background-color: #222;
  border: none;
}
.navbar__leftside {
  display: flex;
}
.navbar__leftside__gohome{
  height: 38px;
  width: 44px;
  margin-right: 41px;
  background-image: url(/img/mainpage/navbar_leftside_logo.svg);
}
.navbar__leftside__search {
  position: relative;
  padding-left: 40px;
  display: flex;  
  align-items: flex-end;
}
.navbar__leftside__search__label{

}
.navbar__leftside__search__label__img {
  position: absolute;
  top: 7px;
  left: 3px;
  fill: #e8e8e8;
  width: 29px;
  height: 29px;
}
.navbar__leftside__search__label__img:hover{
  
}
.navbar__leftside__search__chbox {
  display: none;
}
.navbar__leftside__search__input {
  background-color: #e1e1e1;
  border: none;
  width: 250px;
  height: 29px;
  text-align: center;
  border-radius: 50px 0 0 50px;
  visibility: hidden;
  color: #f16d7f;
}
.navbar__leftside__search__btn {
  background-color: #f16d7f;
  border: #f16d7f 2px solid;
  width: 100px;
  height: 29px;
  border-radius: 0 50px 50px 0;
  color: #e8e8e8;
  visibility: hidden;
}
.navbar__leftside__search__btn:hover {
  background-color: #f8f8f8;
  color: #f16d7f;
  transition: .5s;
}
.navbar__leftside__search__chbox:checked ~
.navbar__leftside__search__input,
.navbar__leftside__search__chbox:checked ~
.navbar__leftside__search__btn{
  visibility: visible;
}
                                 /* rightside */
.navbar__rightside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__rightside__menu__hover {
  display: flex;
  align-content: center;
  position: relative;
}
/* .navbar__rightside__menu__hover:hover .popup__menu {
  visibility: visible;
} */
.navbar__rightside__menu__hover:hover 
.navbar__rightside__menu__burger,
.navbar__rightside__menu__hover:hover 
.navbar__rightside__menu__burger::after,
.navbar__rightside__menu__hover:hover 
.navbar__rightside__menu__burger::before {
  background-color: #f16d7f;
  transition: .5s;
}
.burger__input{
  display: none;
}
.navbar__rightside__menu__btn {
  height: 29px;
  width: 32px;
  border: none;
  padding: 0;  
}
.burger__input:checked ~ .popup__menu{
  visibility: visible;
}
.burger__input:checked ~ .navbar__rightside__menu__btn {
  transform: rotate(90deg);
  transition: .3s;
} 
.navbar__rightside__menu__burger{   
  background-color: #E8E8E8;
  height: 2px;
  width: 100%; 
  border: none;
  position: relative;
}
.navbar__rightside__menu__burger::before {
  content: '';
  position: absolute;
  top: 14px;
  background-color: #E8E8E8;
  height: 2px;
  width: 100%; 
}
.navbar__rightside__menu__burger::after {
  content: '';
  position: absolute;
  top: 27px;
  background-color: #E8E8E8;
  height: 2px;
  width: 100%; 
}
/*-----------POPUP------------*/
.popup__menu {
  background-color: #fff;
  visibility: hidden;
  flex-direction: column;
  width: 232px;
  height: 764px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: 53px;
  right: -130px;
}
.popup__menu__closer {
  position: absolute;  
  width: 17px;
  height: 17px;
  right: 16px;
  top: 16px;
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  color: #6F6E6E;
}
.popup__menu__closer:hover::before,
.popup__menu__closer:hover::after {
  transition: .5s;
  background-color: #F16D7F; 
}
.popup__menu__closer:hover::before {
  transition: .5s;
  background-color: #F16D7F;
}
.popup__menu__closer::before, 
.popup__menu__closer::after {
  position: absolute;
  top: -5px;
  left: 15px;
  content: ' ';
  height: 17px;
  width: 2px;
  background-color: #6F6E6E;
}
.popup__menu__closer:before {
  transform: rotate(45deg);
}
.popup__menu__closer:after {
  transform: rotate(-45deg);
}
.popup__menu__title {
  margin: 37px 0px 25px 33px;
  font-style: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.popup__menu__subtitle {
  margin-left: 33px;
  font-style: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}
.popup__menu__list {
  font-style: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-left: 55px;
}
.popup__menu__item {
  margin: 11px ;
  list-style-type: none;
}
/*------------end of POPUP menu--------------*/
.navbar__rightside__account {
  margin: 0 33px;
  fill: #e8e8e8;
  height: 29px;
  width: 32px;
}
.navbar__rightside__cart { 
  position: relative;
  fill: #e8e8e8;
  height: 29px;
  width: 32px;  
}
.navbar__rightside__cart:hover,
.navbar__rightside__account:hover,
.navbar__leftside__search__label__img:hover{  
  fill: #f16d7f;
  transition: .5s;
}
.navbar__rightside__cart__badge{
  position: absolute;
  top: -8px;
  right: -10px;
  border: none;
  border-radius: 50%;
  background-color: #F16D7F;
  height: 19px;
  width: 19px;
}
.inner__bg{
  background-color: #F1E4E6;
}
.inner{
  display: flex;
  background-image: url(/img/mainpage/header_leftside_image.png);
  background-repeat: no-repeat;
  background-position: -220px;
  height: 764px;
  align-items: center;
  justify-content: end;
}
.inner__left{
  
}
.inner__right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.inner__text{
  text-transform: uppercase;
  color: #222;
  position: relative;
}
.inner__text::before{
  content: '';
  display: block;
  position: absolute;
  Width: 12px;
  Height: 92px;
  background-color: #F16D7F;
  left: -20px;
  top: 5px;
}
.inner__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
}
.inner__subtitle {
  line-height: 45px;
  font-size: 37px;
  font-weight: 700;
  font-style: normal;
}
.inner__subtitle span{
  color: #F16D7F;
}

/*---------------------------------*/

.categories {
}
.categories__box {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  flex-wrap: wrap;
}
.categories__box__item {
  width: 360px;
  height: 260px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.for_kids{
  background-image: url(/img/mainpage/categories_for_kids.jpg);
}
.for_man{
  background-image: url(/img/mainpage/categories_for_man.jpg);
}
.for_woman{
  background-image: url(/img/mainpage/categories_for_woman.jpg);
}
.bottom {
  width: 100%;
  height: 180px;
  background-image: url(/img/mainpage/categories_accesories.jpg);
}
.categories__item__text {
  position: absolute;
  text-align: center;
}
.categories__item__promo {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.categories__item__title {
  color: #F16D7F;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
/* catalogue_main <-------------------------------------- */
.fetured {
  text-align: center;
}
.fetured__title {
  font-size: 30px;
  line-height: 36px;
  color: #222;
  margin-top: 96px;
  position: relative;
}
.fetured__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 57px;
}
.fetured__item__box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  min-height: 1192px;
}
.featured__item {
  position: relative;
  background-color: #f8f8f8;
  text-align: left;
  width: 360px;
  height: 581px;
  margin: 15px 0;
}
.featured__item:hover .featured__item__img{
  filter: brightness(33%);
  transition: .5s;
}
.featured__item:hover .featured__item__hover__btn{
  display: flex;
}
.featured__item__hover__btn:hover { 
  background-color: #f8f8f854;
  transition: .5s;
}
.fetured__button:hover {
  color: #fff;
  background-color: #f26376;
  transition: .5s;
}
.featured__item__img {
  display: block;
}
.featured__item__text {
  margin: 25px 28px 20px 16px;
}
.featured__item__title {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
}
.featured__item__promo {
  margin: 16px 0 16px 0;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
.featured__item__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.featured__item__hover__btn {
  position: absolute;
  top: 30%;
  left: 30%;
  display: none;
  justify-content: space-around;
  align-items: center;
  height: 43px;
  width: 138px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
}
.fetured__button {
  border: 1px solid #fF6a6a;
  color: #f26376;
  font-size: 16px;
  line-height: 19px;
  width: 211px;
  height: 47px;
  background-color: #fff;
  margin: 50px 0 95px 0;
}
.advantages__bg {
  background-color: #222224;  
  width: 100%;
}
.advantages__box{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  min-height: 341px;
}
.advantages__item {
  min-height: 134px;
  width: 350px;
  color: #fbfbfb;
  text-align: center;
  padding: 20px;
}
.advantages__item__image {
  fill: #f16d7f;
}
.advantages__item__image:hover{
  fill: #e9e8e8;
}
.advantages__item__title {
  margin: 25px 0 16px 0;
  font-size: 20px;
  line-height: 24px;  
}
.advantages__item__description {
  font-size: 14px;
  line-height: 17px;
}
.footer {
}
.footer__upper__bg {
  background-image: url(img/mainpage/footer_subscribe_bg.jpg);
  background-repeat: no-repeat;
  background-color: #e9e8e8;
  background-position: center;
  width: 100%;
}
.footer__upper {
  min-height: 448px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__upper__leftside {
  width: 360px;
  height: 225px;
  text-align: center;
}
.footer__upper__leftside__image {
  margin-bottom: 20px;
}
.footer__upper__leftside__text {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}
.footer__upper__rightside {
  width: 360px;
  height: 225px;
  text-align: center;
  color: #222224;
  align-content: center;
}
.footer__upper__rightside__title {
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__upper__rightside__description {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.footer__upper__rightside__form {
  width: 350px;
  height: 50px;
  display: flex;
  margin-top: 30px;
}
.footer__upper__rightside__form__email {
  background-color: #e1e1e1;
  border: none;
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 50px 0 0 50px;
}
.footer__upper__rightside__form__btn {
  background-color: #f16d7f;
  border: #f16d7f 2px solid;
  width: 100px;
  height: 50px;
  border-radius: 0 50px 50px 0;
}
.footer__upper__rightside__form__btn:hover{
  background-color: #e1e1e1;
  transition: .5s;
  border: #f16d7f 2px solid;
}
.footer__lower__bg {  
  background-color: #222224;
}
.footer__lower {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__lower__rights {
  color: #fbfbfb;
  font-size: 16px;
  line-height: 19px;
}
.footer__lower__socials {
  display: flex;
  justify-content: space-between;
}
.footer__lower__socials__item:hover {
  background-color: #f16d7f;
  transition: .5s;
}
.footer__lower__socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin: 8px;
  border-radius: 15%;
}
/* Breadcrumbs<---------------------------------- */

.breadcrumbs__bg{
  background-color: #f8f3f4;
}
.breadcrumbs {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}
.breadcrumbs__title {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
.breadcrumbs__list {
  font-weight: 300;
  line-height: 17px;
  color: #636363;
  font-size: 14px;
  display: flex;
}


.breadcrumbs__list :last-child::after {
  content: '';
}
.breadcrumbs__list__item {

}
.breadcrumbs__list__item::after {
  content: '/';
}
.breadcrumbs__list__item__link {
  color: #636363;
}
.breadcrumbs__list a:last-child{
  color: #f16d7f; 
}
.catalogue__item__box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  min-height: 1192px;  
}